{% extends "blog/base.html" %}
{% load substring %}
{% if title %}
    {% block title %}{{ title }}{% endblock %}
{% endif %}
{% block main %}
<div class="panel panel-default " >
    <div class="panel-heading" style="padding:3px 0 3px 8px;">
        首页
    </div>
    <div class="panel-body" style="font-size:18px;">
        {% with post_list=posts.object_list %}
        {% if post_list %}
    
        {% for post in post_list %}
            <!--标题-->
            <a href="{{ post.get_absolute_url }}" rel="bookmark" title="详细阅读 {{ post.title }}">
                {% if post.is_top %}
                [置顶]
                {% endif %}
                {% autoescape off %}{{ post.title }}{% endautoescape %}
            </a>
            <!--标题结束-->
    
        <div class="article under_line" style="margin:0 10px 10px 10px;">
                
    
                
                <div class="info">
                   
                    阅读 {{ post.view_times }}  次
                    | 时间：{{ post.pub_time|date:"Y-m-d" }}
                    {% if user.is_authenticated %}
                        <a href="{% url 'admin:blog_post_change' post.id %}" target="_blank">edit</a>
                    {% endif %}
                </div>
                <div class="clear"></div>
                <div class="entry_post">
                    <span>
                     
                        {% autoescape on %} 
                        {{ post.summary|striptags}}
                        {% endautoescape %}
                        
                    </span>
                   
                </div>
            
            
        
            </div>
            <div class="clear"></div>
        {% endfor %}
    
        {% endif %}
        {% endwith %}
            <hr/>
            <div>
                <ul class="pagination pagination-centered pagination-small">
                    {% if posts.number <= 1 %}
                        <li class="disabled"><a>上一页</a></li>
                    {% else %}
                        {% if query %}
                        <li><a href="?s={{ query }}&page={{ posts.number|add:-1 }}">上一页</a></li>
                        {% else %}
                        <li><a href="?page={{ posts.number|add:-1 }}">上一页</a></li>
                        {% endif %}
                        {% for i in 'abcde'|make_list %}
                            {% if posts.number|sub:forloop.revcounter > 0 %}
                                {% if query %}
                            <li><a href="?s={{ query }}&page={{ posts.number|sub:forloop.revcounter }}">{{ posts.number|sub:forloop.revcounter }}</a></li>
                                {% else %}
                            <li><a href="?page={{ posts.number|sub:forloop.revcounter }}">{{ posts.number|sub:forloop.revcounter }}</a></li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
    
                    <li class="active"><a>{{ posts.number }}</a></li>
    
                    {% if posts.number < posts.paginator.num_pages %}
                        {% for i in 'abcde'|make_list %}
                            {% if posts.number|add:forloop.counter < posts.paginator.num_pages %}
                                {% if query %}
                                <li><a href="?s={{ query }}&page={{ posts.number|add:forloop.counter }}">{{ posts.number|add:forloop.counter }}</a></li>
                                {% else %}
                                <li><a href="?page={{ posts.number|add:forloop.counter }}">{{ posts.number|add:forloop.counter }}</a></li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {% if query %}
                        <li><a href="?s={{ query }}&page={{ posts.number|add:1 }}">下一页</a></li>
                        {% else %}
                        <li><a href="?page={{ posts.number|add:1 }}">下一页</a></li>
                        {% endif %}
                    {% else %}
                        <li class="disabled"><a>下一页</a></li>
                    {% endif %}
                </ul>
            </div>
    </div>
</div>
{% endblock %}
