<div class="widget">
    {% for widget in widgets %}
    {% if widget.content == 'recently_post'%}
         <div class="panel panel-warning ">
               <div class="panel-heading" style="padding:3px 0 3px 8px;">
                 {{ widget.title }}
               </div>
               <div class="panel-body">
                    
                        {% with r_posts=recently_posts %}
                        {% if r_posts %}
                        {% for post in r_posts %}
                        <li class="under_line" style="list-style: none;padding:5px 0 5px 1px;">
                        <a href="/{{ post.alias }}.html" title="详细阅读 {{ post.title }}">{{ post.title }}</a>
                        <span class="badge"> {{ post.pub_time |date:"m-d"}}</span>
                        </li>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                  
               </div>
        </div>
    {% else %}{% if widget.content == 'hot_post' %}
    <div class="panel panel-info ">
               <div class="panel-heading" style="padding:3px 0 3px 8px;">
                 {{ widget.title }}
               </div>
               <div class="panel-body">
        {% with h_posts=hot_posts %}
        {% if h_posts %}
        {% for post in h_posts %}
        <li class="under_line" style="list-style: none;padding:5px 0 5px 1px;">
        <a rel="bookmark" href="/{{ post.alias }}.html" title="详细阅读 {{ post.title }}">{{ post.title }}</a>
        <span class="badge"> {{ post.view_times }}°</span>
        </li>
        {% endfor %}
        {% endif %}
        {% endwith %}
          </div>
        </div>
    {% else %}
    <div class="panel panel-default ">
               <div class="panel-heading" style="padding:3px 0 3px 8px;">
                 {{ widget.title }}
               </div>
               <div class="panel-body">
        {% autoescape off %}
        {{ widget.content }}
        {% endautoescape %}
     </div>
        </div>
    {% endif %}{% endif %}
    {% endfor %}
</div>
